<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
<title>Annee</title>
</head>

<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>
						<span data-th-text="#{application_parameter_annee_form_titre}"></span>
					</h3>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="x_panel">
					<div class="x_content">
						<form data-th-action="@{/parametres/enregister/ecole}"
							method="post">
							<div class="col-xs-6 form-group">
								<label><span
									data-th-text="#{application_parameter_annee_form_date_debut}"></span></label>
								<input class="form-control" type="Date" />
							</div>
							<div class="col-xs-6 form-group">
								<label><span
									data-th-text="#{application_parameter_annee_form_date_fin}"></span></label>
								<input class="form-control" type="Date" />
							</div>
							<input type="submit"
								data-th-value="#{application_form_button_enregistrer}"
								class="btn btn-primary btn-valider" />
						</form>
						<div class="card">
							<div class="card card-body">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Code</th>
											<th>Date debut</th>
											<th>Date fin</th>
											<th>Actif</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user:${users}">
											<td th:text="${user.name}"></td>
											<td th:text="${user.email}"></td>
											<td th:text="${user.email}"></td>
											<td th:text="${user.email}"></td>
											<td><a th:href="@{/addTask(email=${user.email})}"
												class="btn btn-dark">Modifier</a> <a
												th:href="@{/addTask(email=${user.email})}"
												class="btn btn-dark">Delete</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>
