<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	data-layout-decorate="~{fragments/layout}">
<head>
<title>[[#{application_parametre_annee_scolaire_page_titre}]]</title>
</head>

<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>
						<span
							data-th-text="#{application_parametre_annee_scolaire_form_titre}"></span>
					</h3>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="x_panel">
					<div class="x_content">
						<form data-th-action="@{/annee-scolaire/enregister}"
							th:object="${anneeScolaireModel}" method="post">
							<div>
								<div class="col-xs-6 form-group">
									<label><span
										data-th-text="#{application_parametre_annee_scolaire_form_date_debut}"></span></label>
									<input class="form-control" type="date" th:field="*{jourDebut}" />
								</div>
								<div class="col-xs-6 form-group">
									<label><span
										data-th-text="#{application_parametre_annee_scolaire_form_date_fin}"></span></label>
									<input class="form-control" type="date" th:field="*{jourFin}" />
								</div>
								<div class="col-xs-12 form-group">
									<label><span
										data-th-text="#{application_parametre_annee_scolaire_form_en_cours}"></span></label>
									<input type="checkbox" name="active" th:field="*{enCours}" />
								</div>									
								<input type="submit" th:value="#{application_bouton_valider}"
									class="btn btn-primary btn-valider" /> <a type="reset"
									th:text="#{application_bouton_annuler}"
									th:href="@{/annee-scolaire/annuler}"
									class="btn btn-warning btn-annuler"></a>
							</div>
							<input type="hidden" th:field="*{id}" id="id" /> <input
								type="hidden" th:field="*{code}" id="code" />
						</form>
					</div>
				</div>
			</div>
			<div class="x_panel">
				<table
					class="table table-sm table-bordered table-striped mb-0 table-fixed">
					<thead>
						<tr>
							<th class="col-xs-4">[[#{application_parametre_annee_scolaire_form_code}]]</th>
							<th class="col-xs-4">[[#{application_parametre_annee_scolaire_form_en_cours}]]</th>
							<th class="col-xs-4">[[#{application_parametre_annee_scolaire_form_action}]]</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="anneeScolaire : ${anneeScolaires}">
							<td th:text="${anneeScolaire.code}" class="col-xs-4"></td>
							<td th:text="${anneeScolaire.enCours}" class="col-xs-4"></td>
							<td class="col-xs-4"><button
									th:attr="data-target=|#myModal${anneeScolaire.id}|"
									class="btn btn_table btn_table_suppr" data-toggle="modal">
									<i class="fa fa-trash"></i>
								</button> <a
								th:href="@{/annee-scolaire/modifier/{id}(id=${anneeScolaire.id})}"
								class="btn btn_table btn_table_modif"> <i
									class="fa fa-pencil"></i>
							</a> <!-- The Modal -->
								<div class="modal fade" th:id="|myModal${anneeScolaire.id}|">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title texte-message"
													th:text="|#{application_parametre_annee_scolaire_table_modal_message} ${anneeScolaire.code}?|"></h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">[[#{application_maodal_boutton_fermer}]]</button>
												<a
													th:href="@{/annee-scolaire/supprimer/{id}(id=${anneeScolaire.id})}"
													class="btn btn-success">[[#{application_maodal_boutton_valider}]]</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/pages/anneeScolaire.js}"></script>
	</th:block>
	
	<!-- /page content -->
</body>
</html>
