<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>[[#{application_parametre_classe_page_titre}]]</title>
</head>

<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>[[#{application_parametre_classe_form_titre}]]</h3>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="row">
				<div class="x_panel">
					<div class="x_content">
					<!-- debut formulaire -->
						<form data-th-action="@{/classe/enregister}"
							th:object="${classeModel}" method="post">
							<script type="text/javascript" th:src="@{/js/pages/classe.js}"></script>
							<div>
								<div class="col-xs-6 form-group">
									<label>[[#{application_parametre_classe_form_libelle}]]</label>
									<input class="form-control" id="" type="text"
										th:field=" *{libelle}" />
								</div>
								<div class="col-xs-6 form-group">
									<label>[[#{application_parametre_classe_form_code}]]</label> <input
										class="form-control" type="text" id="code" th:field=" *{code}" />
								</div>
								<div class="col-xs-6 form-group">
									<label>[[#{application_parametre_classe_form_etablissement}]]</label>									
									<select id="etablissement" class="form-control" th:onchange="'getCycles();'" th:field=" *{etablissement}">
										<option value=""></option>
										<option data-th-each="etablissement : ${etablissements}"
											data-th-value="${etablissement.id}"
											data-th-utext="${etablissement.libelle}" />
									</select>
								</div>
								<div class="col-xs-6 form-group">
									<label>[[#{application_parametre_classe_form_cycle}]]</label> 									
									<select
										id="cycle" class="form-control" th:onchange="'getNiveaux();'" th:field=" *{cycle}">
										<option value=""></option>
										<option data-th-each="cycle : ${cycles}"
											data-th-value="${cycle.id}" data-th-utext="${cycle.libelle}" />
									</select>
								</div>
								<div class="col-xs-6 form-group">
									<label>[[#{application_parametre_classe_form_niveau}]]</label>
									<select id="niveau" class="form-control" th:field=" *{niveau}">
										<option value=""></option>
										<option data-th-each="niveau : ${niveaux}"
											data-th-value="${niveau.id}"
											data-th-utext="${niveau.libelle}" />
									</select>
								</div>
								<div class="col-xs-6 form-group">
									<label>[[#{application_parametre_classe_form_serie}]]</label> <select
										id="serie" class="form-control" th:field=" *{serie}">
										<option value=""></option>
										<option data-th-each="serie: ${series}"
											data-th-value="${serie.id}" data-th-utext="${serie.libelle}" />
									</select>
								</div>

								<input type="submit" th:value="#{application_bouton_valider}"
									class="btn btn-primary btn-valider" /> <a type="reset"
									th:text="#{application_bouton_annuler}"
									th:href="@{/classe/annuler}"
									class="btn btn-warning btn-annuler"></a>
							</div>
							<input type="hidden" th:field="*{id}" id="id" />
						</form>
						<!-- fin formulaire -->
					</div>
				</div>
			</div>
			<div class="x_panel">
				<table
					class="table table-sm table-bordered table-striped mb-0 table-fixed">
					<thead>
						<tr>
							<th class="col-xs-2">[[#{application_parametre_classe_form_libelle}]]</th>
							<th class="col-xs-2">[[#{application_parametre_classe_form_code}]]</th>
							<th class="col-xs-2">[[#{application_parametre_classe_form_cycle}]]</th>
							<th class="col-xs-2">[[#{application_parametre_classe_form_niveau}]]</th>
							<th class="col-xs-2">[[#{application_parametre_classe_form_serie}]]</th>
							<th class="col-xs-2">[[#{application_parametre_classe_form_action}]]</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="classe : ${classes}">
							<td th:text="${classe.libelle}" class="col-xs-2"></td>
							<td th:text="${classe.code}" class="col-xs-2"></td>
							<td th:text="${classe.cycle != null} ? ${classe.cycle.code} : 'null'" class="col-xs-2"></td>
							<td th:text="${classe.niveau != null} ? ${classe.niveau.code} : 'null'" class="col-xs-2"></td>
							<td th:text="${classe.serie != null} ? ${classe.serie.code} : 'General'" class="col-xs-2"></td>
							<td class="col-xs-2"><button
									th:attr="data-target=|#myModal${classe.id}|"
									class="btn btn_table btn_table_suppr" data-toggle="modal">
									<i class="fa fa-trash"></i>
								</button> <a th:href="@{/classe/modifier/{id}(id=${classe.id})}"
								class="btn btn_table btn_table_modif"> <i
									class="fa fa-pencil"></i>
							</a> <!-- The Modal -->
								<div class="modal fade" th:id="|myModal${classe.id}|">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title texte-message"
													th:text="|#{application_parametre_serie_table_modal_message} ${classe.libelle}?|"></h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">[[#{application_maodal_boutton_fermer}]]</button>
												<a th:href="@{/classe/supprimer/{id}(id=${classe.id})}"
													class="btn btn-success">[[#{application_maodal_boutton_valider}]]</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>
